extends ../_base

block title
  | Formulir

block vars
  - var bodyClass = 'formulir'

block content
  .text-center
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScPBiChvWFZE3lfvnKfDpzMpayqCZ7DA0owMinuEXXXR3fPIA/viewform?embedded=true" width="640" height="1600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
