extends ../_base

block title
  | Tentang Kami

block vars
  - var bodyClass = 'tentang'

block content
  .container
    h2.mb-5 Tentang Kami
    p Jogja Lawan Corona adalah Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae mollitia quaerat exercitationem nulla? Culpa pariatur minus tempora quas excepturi. Quidem recusandae dolorem impedit fuga, quaerat delectus inventore natus dolorum optio.
    p Eius est doloremque pariatur natus quia fuga nam. Magni omnis incidunt expedita, vero at fuga doloremque fugit hic necessitatibus placeat saepe minus laborum blanditiis quibusdam veniam repellat minima facere iste?
    p Totam quam ullam eius, sit commodi facilis architecto ad harum fuga provident pariatur hic deleniti fugit modi quisquam fugiat, reprehenderit veniam! Qui ipsam odit tenetur ex! Ab voluptate debitis ducimus?
    p Voluptatum ratione repellat sit qui maiores sapiente exercitationem ducimus odit. Praesentium maiores voluptatem officiis non ipsa fugit ducimus, voluptas dolorum ratione ex, impedit provident error soluta! Praesentium, debitis itaque. Nisi?
    p Neque debitis vitae quidem delectus dolore cupiditate porro obcaecati voluptas asperiores ipsam ab consequuntur repellendus voluptate molestias inventore, incidunt in doloribus praesentium est harum enim unde impedit eaque eum! Ex?
    ol
      li Akhmad Nasir
      li Astrid Arum
      li banumelody
      li bernadsatriani
      li Budhi Hermanto
      li Grace
      li Iqbal Tuwasikal
      li lantip
      li Marzuki Mohamad (@killthedj)
      li Melissa Nf
      li Nur Amin
      li Titis Widyanto
      li Dan relawan-relawan lainnya
